.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.movie {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info p {
    color: #666;
}

.listContainer {
  height: 700px; /* 원하는 높이에 맞게 조정 */
  overflow-y: scroll;
}